[Unit]
Description=Elasticsearch Container
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker start elasticsearch
 
[Install]
WantedBy=multi-user.target
